<div class="container-fluid">
  <p class="h3 p-3">{{ recetaDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ recetaDetail.imagen }}"
          alt="{{ recetaDetail.nombre }}"
        />
        <p>Estrellas: {{recetaDetail.estrellas}} | Cantidad opiniones: {{recetaDetail.cantidadOpiniones}}</p>
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Descripción:</dt>
        <dd>{{recetaDetail.descripcion}}</dd>
        <dt>Ingredientes:</dt>
        <dd>{{ recetaDetail.ingredientes }}</dd>
        <dt>Autor de la receta:</dt>
        <dd>{{recetaDetail.autorReceta}}</dd>
        <dt>Más info:</dt>
        <dd>Dificultad: {{recetaDetail.dificultad}} | Duración: {{recetaDetail.duracion}</dd>
        <p>Categoría: {{recetaDetail.categoria}}</p>
      </dl>
    </div>
  </div>
 </div>
